# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Playwright / test artifacts
test-results/
playwright-report/

# Logs
*.log

# Environment files
.env

report.html
assets/
